.callout {
  border-radius: 8px;
  padding: 10px;
}
.callout > .callout-content > p {
  margin: 0px
}

.cm-s-obsidian .cm-embed-block.cm-callout {
  margin-block: 10px !important; 
}

.cm-embed-block.cm-callout:hover {
  border-radius: 8px !important;
}

.callout-icon {
  padding-inline: 5px;
  padding-right: 5px;
}

.callout-content {
  padding-inline: 8px;
  padding-block: 5px;
  margin-top: 5px;
}

.callout-title {
  padding-block: 3px;
}
.callout-title-inner {
  font-weight: 475;
  margin-block: auto;
}